<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

.footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer >li{
    color: white;
    list-style: none;
    cursor: pointer;
}
</style>
<body>

    <div class="footer">
        <div> 
           <ul>
            <li>home</li>
            <li>Contact</li>
            <li>Service</li>
           </ul>
        </div>
        <div> 
           <ul>
            <li>home</li>
            <li>Contact</li>
            <li>Service</li>
           </ul>
        </div>
        <div> 
           <ul>
            <li>home</li>
            <li>Contact</li>
            <li>Service</li>
           </ul>
        </div>
        
    </div>
    
</body>
</html>