<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;padding: 0;
        background-color: grey;
    }
    .ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: brown;
        padding: 40px;
    }
    .ul >li{
        cursor: pointer;
        list-style: none;
        color: aliceblue;
        background-color: brown;
    }
    a{color: aliceblue;}
</style>
<body>
    <ul class="ul">
        <a href="/about"></a>
        <li><a href="/about">about</a></li>
        <li>Contact</li>
        <li>Product </li>
        <li><a href=""></a>Footer</li>
    </ul>
    
</body>
</html>